.App {
  text-align: center;
  padding: 1rem;
  display: block;
}
.container {
  display: flex !important;
  justify-content: flex-start;
}
/* Add a background color to avoid overlap of the  */
label {
  background: white;
  padding: 0 0.5rem !important;
}
.submit-btn {
  margin: 0px !important;
  left: 90%;
  bottom: 20px;
}
