.App {
  text-align: center;
  padding: 1rem;
  display: block;
}
/* Add a background color to avoid overlap of the  */
label {
  background: white;
  padding: 0 0.5rem !important;
}
.submit-btn {
  left: 45%;
  margin: 1rem !important;
}
